#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}

.greeting {
  text-align: left;
  font-size: 2em; /* Adjust to your preference */
}

.greeting span {
  display: block;
}
